body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header, .description {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    justify-content: space-between;
    padding: 5px 60px;
}

.description {
    justify-content: space-around;
    font-size: 15px;
    padding: 20px 60px 60px 60px;
    gap: 20px;
}

.intertext {
    margin: 20px;
}

.chapter-container {
    display: flex;
    justify-content: center;
    gap: 3%;
    text-align: center;
    margin-bottom: 20px;
}

.chapter-container img {
    height: 180px;
    border-radius: 10px;
}

.quote {
    font-size: 36px;
    padding: 30px 120px;
    background-color: #e5e7eb;
    color: #1f2937;
}

.author {
    font-weight: 550;
    text-align: right;
}

.sign-up {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    padding: 30px 70px;
    margin: 40px 70px;
    border-radius: 6px;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    text-align: center;
    padding: 8px;
}

.footer p {
    font-size: 16px;
}

button {
    width: 120px;
    height: 34px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    background-color: #3882f6;
    color: #f9faf8;
    border-style: solid;
}

.sign-up button {
    border-color: #f9faf8;
    border-width: 2px;
}

.description button {
    border-style: none;
}

h1 {
    font-weight: 900;
    font-size: 48px;
}

h2 {
    text-align: center;
}

p {
    font-size: 18px;
}

a {
    margin-left: 10px;
}